[submodule "themes/hugo-cactus-theme"]
	path = themes/hugo-cactus-theme
	url = git@github.com:digitalcraftsman/hugo-cactus-theme.git
[submodule "themes/hugo-future-imperfect"]
	path = themes/hugo-future-imperfect
	url = git@github.com:jpescador/hugo-future-imperfect.git
